# Ignore all files by default
*

# Whitelist allowed .bat runners
!1_run_screenshot_google_maps.bat
!1_run_screenshot_google_maps2.bat
!2_run_bot_emulator_idpel.bat
!2_run_bot_emulator_idpel2.bat
!3_run_bot_emulator_meter.bat
!3_run_bot_emulator_meter2.bat
!4_run_bot_emulator_reject_list.bat
!4_run_bot_emulator_reject_list2.bat
!5_run_bot_emulator_reject_input.bat
!5_run_bot_emulator_reject_input2.bat
!auto_update.bat

# Whitelist allowed .py scripts
!bot_emulator_idpel.py
!bot_emulator_idpel2.py
!bot_emulator_meter.py
!bot_emulator_meter2.py
!bot_emulator_reject_input.py
!bot_emulator_reject_input2.py
!bot_emulator_reject_list.py
!bot_emulator_reject_list2.py
!ss_gmaps.py
!ss_gmaps2.py
!konfigurasi.py
!cek_idpel_1.py
!cek_nometer_1.py
!scan_page.py

# Whitelist gitignore
!.gitignore
